<div class="customer">
  <%= image_tag customer.image if customer.image.attached? %>
  <h2><%= customer.full_name %></h2>
  <p>Phone: <%= customer.phone_number %></p>
  <p>Email: <%= customer.email || "N/A" %></p>
  <p><%= customer.notes %></p>
</div>
